@page
@using BuildYourBowl.Data
@using BuildYourBowl.Data.Enums
@using BuildYourBowl.Data.Entrees;
@using BuildYourBowl.Data.Sides;
@using BuildYourBowl.Data.Drinks;
@using BuildYourBowl.Data.KidsMeals;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Build Your Bowl!</h1>
    <p class="royalblue">Find a delicious meal from our amazing options below.</p>
</div>

<form id="movie-database">
    <div class="container pt-6">
        <div class="row row-cols-3 my-5">
            <div class="col">
                <h4>Sort By Term:</h4>
                <div id="search">
                    <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
                    <input type="submit" value="Search">
                </div>
            </div>

            <div class="col">
                <h4>Sort By Price:</h4>
                <div>
                    Between
                    <input name="PriceMin" type="number" min="0" max="100" step="0.01" placeholder="min" value="@Model.PriceMin" />
                    and
                    <input name="PriceMax" type="number" min="0" max="100" step="0.01" placeholder="max" value="@Model.PriceMax" />
                </div>
            </div>

            <div class="col">
                <h4>Sort By Calories:</h4>
                <div>
                    Between
                    <input name="CaloriesMin" type="number" min="0" max="5000" step="1" placeholder="min" value="@Model.CaloriesMin" />
                    and
                    <input name="CaloriesMax" type="number" min="0" max="5000" step="1" placeholder="max" value="@Model.CaloriesMax" />
                </div>
            </div>
        </div>
    </div>
</form>

<h3 id="entrees" class="entrees m-2">Entrees</h3>
<div class="container text-center">
    <div class="row row-cols-4 g-2">
        @foreach (IMenuItem i in Model.FullMenu)
        {
            if (i is Entree e)
            {
                <div class="col">
                    <div class="border border-1 rounded rounded-1">
                        <div class="name royalblue">@e.Name</div>
                        <div>Price: $@e.Price</div>
                        <div>Calories: @e.Calories</div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<h3 id="ingredients" class="ingredients m-2 pt-3">Ingredients</h3>
<div class="d-flex">
    <table class="table w-50 mx-2">
        <thead>
            <tr class="rebeccapurple">
                <th scope="col">Name</th>
                <th scope="col">Calories</th>
                <th scope="col">Cost (If Not Included)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (IngredientItem i in Model.Ingredients)
            {
                <tr>
                    <td class="rebeccapurple">@i.Name</td>
                    <td>@i.Calories</td>
                    <td>@i.UnitCost.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table w-50 h-25">
        <thead>
            <tr>
                <th scope="col">Salsa Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Salsa s in Model.Salsas)
            {
                <tr>
                    <td>@s.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<h3 id="sides" class="sides m-2 pt-3">Sides</h3>
<div class="container text-center">
    <div class="row row-cols-4 g-2">
        @foreach (IMenuItem i in Model.FullMenu)
        {
            if (i is Side side)
            {
                <div class="col">
                    <div class="border border-1 rounded rounded-1">
                        <div class="name seagreen">@side.Name</div>
                        @foreach (string s in side.PreparationInformation)
                        {
                            <div class="prep-info">@s</div>
                        }
                        <div>Price: $@side.Price</div>
                        <div>Calories: @side.Calories</div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<h3 id="drinks" class="drinks m-2 pt-3">Drinks</h3>
<div class="container text-center">
    <div class="row row-cols-4 g-2">
        @foreach (IMenuItem i in Model.FullMenu)
        {
            if (i is Drink d)
            {
                <div class="col">
                    <div class="border border-1 rounded rounded-1">
                        <div class="name darkorange">@d.Name</div>
                        @foreach (string s in d.PreparationInformation)
                        {
                            <div class="prep-info">@s</div>
                        }
                        <div>Price: $@d.Price</div>
                        <div>Calories: @d.Calories</div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<h3 id="kidsmeals" class="kids-meals m-2 pt-3">Kids Meals</h3>
<div class="container text-center">
    <div class="row row-cols-4 g-2">
        @foreach (IMenuItem i in Model.FullMenu)
        {
            if (i is KidsMeal m)
            {
                <div class="col">
                    <div class="border border-1 rounded rounded-1">
                        <div class="name darkred">@m.Name</div>
                        @foreach (string s in m.PreparationInformation)
                        {
                            <div class="prep-info">@s</div>
                        }
                        <div>Price: $@m.Price</div>
                        <div>Calories: @m.Calories</div>
                    </div>
                </div>
            }
        }
    </div>
</div>
